
img {
  width: 150px;
}

picture {
  background-color: red;
}

h1 {
  font-size: 48px;
  font-family: WorkSans-Black;
  font-style: italic;
}

body{
  background-color: #fff;
  p {
    background: linear-gradient(90deg, #fff, #000);
  }
}